<template>
<div class="p-3 lg:p-5">
  <div class="container my-5 p-4 sm:w-9/12 lg:w-3/4 mx-auto shadow-2xl rounded-lg">
    <div class="card lg:card-side bordered">
      <div class="my-auto">
      <img :src="image" class="rounded-lg object-scale-down" />
      </div>
      <div class="card-body">
          <p class="md:prose-lg text-2xl my-5">{{date}}</p>
        <h2 class="card-title prose-2xl">
          {{ name }}
        </h2>
        <p class="prose md:prose-lg xl:prose-xl text-justify">
          {{ text }}
        </p>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  props: ["image", "name", "text", "date"],
};
</script>
