<template>
  <div class="shadow bg-base-200 drawer">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
    <div class="flex flex-col drawer-content">
      <div class="w-full navbar bg-base-300 sticky top-0 z-50">
        <div class="flex-none lg:hidden">
          <label for="my-drawer-3" class="btn btn-square btn-ghost">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </label>
        </div>
        <div class="flex-1 px-2 mx-2"></div>
        <div class="flex-none hidden lg:block">
          <ul class="menu horizontal">
            <li>
              <a href="#my-modal"
                ><div class="badge badge-outline badge-lg">
                  {{ t("drawer.new") }}
                </div></a
              >
            </li>
            <li>
              <a href="#my-modal-theme"
                ><div class="badge badge-outline badge-lg">
                  {{ t("drawer.color") }}
                </div></a
              >
            </li>
            <li>
              <a href="#my-modal-lang" class="mx-auto"
                ><div class="badge badge-outline badge-lg">{{ t("drawer.language") }}</div></a
              >
            </li>
          </ul>
        </div>
      </div>
      <slot></slot>
    </div>
    <div class="drawer-side">
      <label for="my-drawer-3" class="drawer-overlay"></label>
      <ul class="p-4 overflow-y-auto menu w-80 bg-base-100">
        <li>
          <a href="#my-modal" class="mx-auto"
            ><div class="badge badge-outline badge-lg">
              {{ t("drawer.new") }}
            </div></a
          >
        </li>
        <li>
          <a href="#my-modal-theme" class="mx-auto"
            ><div class="badge badge-outline badge-lg">
              {{ t("drawer.color") }}
            </div></a
          >
        </li>
        <li>
          <a href="#my-modal-lang" class="mx-auto"
            ><div class="badge badge-outline badge-lg">{{ t("drawer.language") }}</div></a
          >
        </li>
      </ul>
    </div>
  </div>
  <Theme />
  <Entry />
  <Language />
</template>
<script>
import Entry from "./Entry.vue";
import Theme from "./Theme.vue";
import Language from "./Language.vue";
import { useI18n } from "vue-i18n";
export default {
  setup() {
    const { locale, t } = useI18n({
      inheritLocale: true,
    });

    return { locale, t };
  },
  components: {
    Entry,
    Theme,
    Language,
  },
};
</script>
