<template>
  <div id="my-modal" class="modal">
    <div class="modal-box">
      <div class="alert" v-show="show_warning">
        <div class="flex-1" id="warning">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="#2196f3"
            class="w-6 h-6 mx-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <label>{{ warning_text }}</label>
        </div>
      </div>
      <h2 class="prose-2xl">{{ t("entry.new") }}</h2>
      <p class="my-5 prose-lg">{{ t("entry.for_what") }}</p>
      <div class="dropdown" @mouseover="check_fields">
        <div tabindex="0" class="m-1 btn">{{ name}}</div>
        <ul
          tabindex="0"
          class="
            my-4
            p-2
            shadow
            menu
            dropdown-content
            bg-base-100
            rounded-box
            w-52
          "
        >
          <li v-for="item in this.list_of_names" :key="item">
            <a
              @click="
                name = item.name;
                image = item.image;
              "
              >{{ item.name }}</a
            >
          </li>
        </ul>
      </div>
      <div class="form-control my-3">
        <textarea
          class="textarea h-24 textarea-bordered prose-lg"
          :placeholder="$t('entry.textarea')"
          id="textField"
          @keydown="check_fields"
          @mouseover="check_fields"
        ></textarea>
      </div>

      <div class="p-6 card bordered">
        <p class="prose-lg">{{ t("entry.how_do_feel") }}</p>
        <div class="form-control" @mouseover="check_fields">
          <label class="cursor-pointer label">
            <span class="label-text">{{ t("entry.feel_good") }}</span>
            <input
              type="radio"
              name="opt"
              class="radio radio-secondary"
              value=""
              @click="
                status = 'Gut';
                check_fields;
              "
            />
          </label>
        </div>
        <div class="form-control">
          <label class="cursor-pointer label">
            <span class="label-text">{{ t("entry.feel_normal") }}</span>
            <input
              type="radio"
              name="opt"
              class="radio"
              value=""
              @click="
                status = 'Normal';
                check_fields;
              "
            />
          </label>
        </div>
        <div class="form-control">
          <label class="cursor-pointer label">
            <span class="label-text">{{ t("entry.feel_bad") }}</span>
            <input
              type="radio"
              name="opt"
              class="radio radio-primary"
              value=""
              @click="
                status = 'Schlecht';
                check_fields;
              "
            />
          </label>
        </div>
      </div>
      <div class="modal-action">
        <a
          class="btn btn-primary"
          disabled
          id="push_data"
          @click="finish"
          href="#"
          >{{ t("entry.finish_btn") }}</a
        >
        <a class="btn" href="#" @click="removeData">{{ t("entry.dismiss") }}</a>
      </div>
    </div>
  </div>
</template>
<script>
import { list_of_names } from "../../vars";
import { useI18n } from "vue-i18n";
import { watch } from 'vue'
export default {
  setup() {
    const { locale, t } = useI18n({
      inheritLocale: true,
    });

    return { locale, t };
  },
  watch:{
    locale(newValue, oldValue){
      this.name = this.t("entry.who_are_u")
    }
  },
  data() {
    return {
      show_warning: false,
      list_of_names: list_of_names,
      name: this.t("entry.who_are_u"),
      text: "",
      status: "",
      date: "",
      image: "",
      warning_text: "",
    };
  },
  methods: {
    check_fields(event) {
      let push_btn = document.getElementById("push_data");
      if (this.name == this.t("entry.who_are_u")) {
        this.show_warning = true;
        this.warning_text = this.t("entry.warning.name");
        push_btn.setAttribute("disabled", "1");
        return;
      }
      let text = document.getElementById("textField").value;
      if (text.length < 5) {
        this.show_warning = true;
        this.warning_text = this.t("entry.warning.text");
        push_btn.setAttribute("disabled", "1");
        return;
      }
      this.text = text;
      if (this.status == "") {
        this.show_warning = true;
        this.warning_text = this.t("entry.warning.status");
        push_btn.setAttribute("disabled", "1");
        return;
      }
      this.warning_text = "";
      this.show_warning = false;
      push_btn.removeAttribute("disabled");
    },
    finish(event) {
      let date_obj = new Date();
      this.date =
        date_obj.getDate() +
        "." +
        (date_obj.getMonth() + 1) +
        "." +
        date_obj.getFullYear();
      this.sendData();
      this.removeData();
    },
    removeData(event) {
      this.name = this.t("entry.who_are_u");
      this.text = "";
      this.status = "";
      let t = document.getElementById("textField");
      t.value = "";
      let radios = document.querySelectorAll("input[type=radio]");
      for (let radio of radios) {
        radio.checked = false;
      }
      this.image = "";
    },
    sendData() {
      fetch("http://" + location.hostname + ":15001/api/create", {
        method: "post",
        headers: {
          Accept: "application/json, text/plain, */*",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          name: this.name,
          text: this.text,
          date: this.date,
          image: this.image,
          status: this.status,
        }),
      })
        .then((res) => res.json())
        .then((res) => console.log(res));
    },
  },
};
</script>
