<template>
  <div class="container min-h-screen flex">
    <div class="hero bg-base-200">
      <div class="flex-col hero-content lg:flex-row-reverse">
        <img
          src="/img/gratitude.webp"
          class="my-3 w-1/2 md:w-1/3 rounded-lg shadow-2xl"
        />
        <div mx-5>
          <h1 class="mb-5 text-5xl font-bold">{{ t("hero.title") }}</h1>
          <p class="mb-5">
            {{ t("hero.subtitle") }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { useI18n } from "vue-i18n";
export default {
  setup() {
    const { locale, t } = useI18n({
      inheritLocale: true,
    });

    return { locale, t };
  },
};
</script>
