<template>
  <div id="my-modal-lang" class="modal">
    <div class="modal-box">
      <button class="btn m-3" @click="setLocale('de')">
        {{ t("language.german") }}
      </button>
      <button class="btn m-3" @click="setLocale('en')">
        {{ t("language.english") }}
      </button>
      <div class="modal-action">
        <a href="#" class="btn btn-primary">{{ t("theme.close") }}</a>
      </div>
    </div>
  </div>
</template>
<script>
import { useI18n } from "vue-i18n";
export default {
  setup() {
    const { locale, t } = useI18n({
      inheritLocale: true,
    });

    return { locale, t };
  },

  methods: {
    setLocale(lang) {
      this.$root.$i18n.locale = lang;
    },
  },
};
</script>
