<template>
<div id="my-modal-theme" class="modal">
    <div class="modal-box">
      <button
        class="btn m-3"
        data-set-theme="light"
        data-act-class="ACTIVECLASS"
      >
        Light
      </button>
      <button
        class="btn m-3"
        data-set-theme="cupcake"
        data-act-class="ACTIVECLASS"
      >
        Cupcake
      </button>
      <button
        class="btn m-3"
        data-set-theme="cyberpunk"
        data-act-class="ACTIVECLASS"
      >
        Cyberpunk
      </button>
      <button
        class="btn m-3"
        data-set-theme="bumblebee"
        data-act-class="ACTIVECLASS"
      >
        Bumblebee
      </button>
      <div class="modal-action">
        <a href="#" class="btn btn-primary">{{ t("theme.close") }}</a>
      </div>
    </div>
  </div>
  </template>
<script>
import { useI18n } from "vue-i18n";
export default {
  setup() {
    const { locale, t } = useI18n({
      inheritLocale: true,
    });

    return { locale, t };
  }
};
</script>