<template>
  <Drawer>
    <Hero />
    <ul>
      <li v-for="item in this.dataList" :key="item.text">
        <Card
          :name="item.name"
          :text="item.text"
          :image="item.image"
          :date="item.date"
        ></Card>
      </li>
    </ul>
  </Drawer>
</template>
<script>
import Drawer from "./components/Drawer.vue";
import Hero from "./components/Hero.vue";
import Card from "./components/Card.vue";
export default {
  name: "Home",
  components: {
    Drawer,
    Hero,
    Card,
  },
  data() {
    return {
      dataList: [],
    };
  },
  created() {
    this.getData();
    setInterval(function () {
      this.getData();
    }.bind(this), 3000); 
  },
  methods: {
    getData() {
      fetch("http://" + location.hostname + ":15001/api/all_entries")
        .then((response) => response.json())
        .then((data) => (this.dataList = data.reverse()));
    },
  },
};
</script>
